<script setup lang="ts">
import { ref, reactive, onMounted, onUnmounted, onBeforeUnmount } from "vue"

useHead({
    title: '课程计划',
    meta: [
        { name: 'description', content: '' }
    ],
    link: [
        {
            rel: 'stylesheet',
            type: "text/css",
            href: '/ckplayer/css/ckplayer.css'
        }
    ],
    script: [
        { type: "text/javascript", src: '/ckplayer/js/ckplayer.js' }
    ]
})

interface Course {
    courseId: String
    courseName: String
    examDate: String
    examIntroduction: String
    examPlanGuide: String
    scoreRule: String
    userPlanedFlag: Boolean
}

const indexs = ref(0)
const courseId = ref<string>()
const courseList = ref<Course[]>([]) // 课程列表
const tabs = ref('1') // tab切换
const isHavePlan = ref<boolean>()
const contInfo = ref([])
const nowLearnId = ref([])

const setTabs = (val: string, have: boolean) => {
    tabs.value = val
    indexs.value = val - 1
    courseId.value = val
    isHavePlan.value = false
    setTimeout(() => {
        isHavePlan.value = have
    }, 100)
}

// 获取课程列表
const { data: list } = await http('/kbdao-course/api/v1/home/course/home/top/list')
list.value.data[1].examDate = '2024-11-30'
courseList.value = list.value.data
isHavePlan.value = list.value.data[0].userPlanedFlag
courseId.value = list.value.data[0].courseId
list.value.data.forEach(item => {
    // 计划的知识点列表
    http(`/kbdao-course/api/v1/home/course/knowledge/planed/list/${item.courseId}`).then(res => {
        contInfo.value.push(res.data.value.data)
    })
    // 正在学的知识点
    http(`/kbdao-course/api/v1/home/course/learning/${item.courseId}`).then(res => {
        nowLearnId.value.push(res.data.value.data)
    })
})

onMounted(() => {

})

</script>

<template>
    <app-header />
    <div class="study">
        <!-- <div class="video"></div> -->
        <!-- 科目切换 -->
        <course-tabs :courseList="courseList" :tabs="tabs" @setTabs="setTabs" />
        <!-- 观看学习视频 -->
        <template v-if="isHavePlan">
            <media-cont :contInfo="contInfo[indexs]" :nowLearnId="nowLearnId[indexs]" />
        </template>
        <!-- 没有学习计划 -->
        <template v-else>
            <un-planned />
        </template>
    </div>
    <app-footer />
</template>

<style scoped lang="scss">
.study {
    width: 100%;
    min-height: calc(100vh - 64px - 80px);
    .video {
        width: 816px;
        height: 460px;
        margin: auto;
    }
}
</style>
