<script setup lang="ts">
import { reactive, ref } from 'vue'
import type { FormInstance, FormRules } from 'element-plus'

useHead({
    title: '登录',
    meta: [
        { name: 'description', content: '' }
    ]
})

interface RuleForm {
    mobile: string,
    code: string,
    grant_type: string
}

const router = useRouter()

const codeTime = ref<number>(0)
const dangerMsg = ref<string>('')
const ruleFormRef = ref<FormInstance>()
const ruleForm = reactive<RuleForm>({
    mobile: '',
    code: '',
    grant_type: 'sms_code'
})

// 验证规则
const checkTel = (rule: any, value: any, callback: any) => {
    if (!value) {
        callback(new Error("请输入您的手机号"));
    }
    if (!/^1[3456789]\d{9}$/.test(value)) {
        callback(new Error("手机号码有误"));
    } else {
        callback();
    }
}
const rules = reactive<FormRules<RuleForm>>({
    mobile: [{ validator: checkTel, trigger: "blur" }],
    code: [
        { required: true, trigger: "blur", message: "请输入验证码" },
        { min: 6, message: "请输入6位验证码", trigger: "blur" }
    ]
})

const getCode = () => {
    ruleFormRef.value?.validateField('mobile', (valid) => {
        if (valid) {
            dangerMsg.value = ''
            http('/kbdao-auth/sms-code', {
                method: 'POST',
                query: {
                    phoneNumber: ruleForm.mobile
                }
            }).then(res => {
                codeTime.value = 60
                let timer = setInterval(() => {
                    if (codeTime.value > 0) {
                        codeTime.value--
                    } else {
                        codeTime.value = 0
                        clearInterval(timer)
                    }
                    console.log(codeTime.value)
                }, 1000)
            })
        } else {
            dangerMsg.value = '手机号输入有误'
        }
    })
}
const rulesPhone = () => {
    ruleFormRef.value?.validateField('mobile', (valid) => {
        if (valid) {
            dangerMsg.value = ''
        } else {
            dangerMsg.value = '手机号输入有误'
        }
    })
}
const rulesCode = () => {
    ruleFormRef.value?.validateField('code', (valid) => {
        if (valid) {
            dangerMsg.value = ''
        } else {
            dangerMsg.value = '验证码输入有误'
        }
    })
}
const submitForm = (formEl: FormInstance | undefined) => {
    if (!formEl) return
    formEl.validate(async (valid) => {
        if (valid) {
            let date = new Date();
            date.setTime(date.getTime() + (7 * 24 * 60 * 60 * 1000));
            const token = useCookie('token', { expires: date })
            const { data: login } = await http('/kbdao-auth/oauth/token', {
                method: 'POST',
                query: ruleForm
            })
            token.value = login.value.data.access_token
            useToken().value = login.value.data.access_token
            ElMessage.success('登录成功')
            // 获取个人信息
            const { data: info } = await http('/kbdao-ums/app-api/v1/members/me')
            useUserInfo().value = {
                avatar: info.value.data.avatarUrl,
                nickname: info.value.data.nickName
            }
            // 跳转到首页
            setTimeout(() => {
                router.push('/')
            }, 200)
        }
    })
}

</script>

<template>
    <div class="login">
        <div class="login-top">
            <h1><img src="/images/logo.png" /></h1>
        </div>
        <div class="login-content">
            <div class="left"><img src="/images/renwu.png" /></div>
            <div class="right">
                <div class="title">帐号登录</div>
                <el-form
                    ref="ruleFormRef"
                    :model="ruleForm"
                    :rules="rules"
                    class="ruleForm"
                >
                    <el-form-item prop="mobile" :show-message="false">
                        <el-input v-model="ruleForm.mobile" maxlength="11" placeholder="请输入手机号" @blur="rulesPhone" />
                    </el-form-item>
                    <el-form-item prop="code" :show-message="false">
                        <el-input class="code" v-model="ruleForm.code" maxlength="6" placeholder="请输入验证码" @blur="rulesCode" />
                        <el-button v-if="!codeTime" class="yzm" @click="getCode">获取验证码</el-button>
                        <el-button v-else class="yzm grays">{{ codeTime }}秒后重新获取</el-button>
                    </el-form-item>
                    <span class="kdanger" v-if="dangerMsg">
                        <img src="/images/danger.png" />{{ dangerMsg }}
                    </span>
                </el-form>
                <div class="tips">
                    点击「登录」代表同意<NuxtLink to="/contract/agreement">《用户协议》</NuxtLink>、<NuxtLink to="/contract/privacy">《用户隐私政策》</NuxtLink>
                </div>
                <el-button class="submit" @click="submitForm(ruleFormRef)">登录</el-button>
            </div>
        </div>
        <app-footer />
    </div>
    
</template>

<style scoped lang="scss">
.login {
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
    .login-top {
        max-width: 1200px;
        height: 85px;
        margin: auto;
        overflow: hidden;
        h1 {
            width: 110px;
            height: 33px;
            margin-top: 26px;
            font-size: 16px;
            img {
                width: 100%;
            }
        }
    }
    .login-content {
        max-width: 1200px;
        height: calc(100vh - 165px);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
            flex: 0 0 316px;
            width: 316px;
            height: 298px;
            // margin-left: 167px;
            margin-right: 169px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .right {
            flex: 0 0 448px;
            width: 448px;
            height: 420px;
            background: #FFFFFF;
            box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.09);
            border-radius: 5px;
            padding: 0 30px;
            .title {
                font-size: 20px;
                font-weight: bold;
                color: #222222;
                text-shadow: 0px 3px 11px rgba(0,0,0,0.09);
                margin: 44px 0 30px 0;
                text-align: center;
                line-height: 1;
            }
            ::v-deep .el-form-item {
                margin-bottom: 26px;
            }
            ::v-deep .el-form-item__content {
                justify-content: space-between;
            }
            ::v-deep .el-input {
                width: 386px;
                height: 50px;
                background-color: #F6F6F6;
                border-radius: 4px;
                border: 1px solid #CCCCCC;
                font-size: 16px;
                color: #222222;
                .el-input__wrapper {
                    background-color: #F6F6F6;
                    box-shadow: none;
                }
                .el-input__wrapper.is-focus {
                    box-shadow: none;
                }
                .el-input__wrapper:hover {
                    box-shadow: none;
                }
            }
            .code {
                width: 231px;
            }
            .yzm {
                width: 145px;
                height: 50px;
                background: #FFFFFF;
                border-radius: 4px;
                border: 1px solid #20B18B;
                font-size: 16px;
                color: #20B18B;
            }
            .grays {
                color: #606266;
                background-color: #F6F6F6;
                border-color: #CCCCCC;
            }
            .kdanger {
                display: flex;
                align-items: center;
                margin-top: -18px;
                position: absolute;
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 4px;
                }
                font-size: 16px;
                font-weight: 400;
                color: #DB593A;
            }
            .tips {
                margin-top: 70px;
                text-align: center;
                font-size: 14px;
                color: #222222;
                a {
                    text-decoration: none;
                    color: #20B18B;
                }
            }
            .submit {
                margin-top: 15px;
                width: 386px;
                height: 50px;
                background: #20B18B;
                border-radius: 4px;
                font-size: 16px;
                font-weight: bold;
                color: #FFFFFF;
                ::v-deep span {
                    font-weight: bold;
                }
            }
        }
    }
}
@media screen and (max-width: 950px) {
    .login {
        .login-content {
            .left {
                display: none;
            }
        }
    }
}
</style>