<script setup lang="ts">
const info1 = useCommonInfo()

</script>

<template>
    <footer>
        <div class="footer">
            <p>
                <NuxtLink to="/contract/agreement">《用户协议》</NuxtLink>｜<NuxtLink to="/contract/privacy">《用户隐私政策》</NuxtLink>｜联系方式：{{ info1.contact }}
            </p>
            <p>
                <NuxtLink class="aa" to="https://beian.miit.gov.cn/#/Integrated/index">京ICP备2023023104号</NuxtLink>｜<NuxtLink to="https://beian.miit.gov.cn/#/Integrated/index">工业和信息化部备案管理系统网站</NuxtLink>｜{{ info1.copyright }}
            </p>
        </div>
    </footer>
</template>

<style lang="scss" scoped>
footer {
    width: 100%;
    height: 80px;
    border-top: solid 1px #EEEEEE;
    .footer {
        max-width: 1200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
        p {
            font-size: 14px;
            color: #999999;
            margin: 6px 0;
            a {
                color: #999999;
                text-decoration: none;
            }
            &:last-child {
                .aa {
                    color: #20B18B;
                }
            }
        }
    }
}
</style>