<script setup lang="ts">
const router = useRouter()
const userInfo = useUserInfo()

const logout = () => {
    useCommonInfo().value = {}
    useUserInfo().value = {}
    useToken().value = ''
    useCookie('token').value = undefined
    ElMessage.success('退出登录')
    setTimeout(() => {
        router.push('/login')
    }, 200)
}
</script>

<template>
    <header>
        <div class="main">
            <div class="logo">
                <h1><img src="/images/logo.png" /></h1>
            </div>
            <div class="user">
                <div class="avatar"><img :src="userInfo.avatar" /></div>
                <div class="name">{{ userInfo.nickname }} {{ userInfo.mobile }}</div>
                <el-dropdown trigger="click" :hide-on-click="false">
                    <span class="el-dropdown-link">
                        <img class="logout" src="/images/down.png">
                    </span>
                    <template #dropdown>
                        <el-dropdown-menu>
                            <el-dropdown-item @click="logout">退出登录</el-dropdown-item>
                        </el-dropdown-menu>
                    </template>
                </el-dropdown>
            </div>
        </div>
    </header>
</template>

<style lang="scss" scoped>
header {
    width: 100%;
    height: 64px;
    .main {
        max-width: 1200px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            width: 78px;
            img {
                width: 100%;
            }
        }
        .user {
            display: flex;
            align-items: center;
            .avatar {
                width: 38px;
                height: 38px;
                border-radius: 38px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .name {
                font-size: 16px;
                font-weight: bold;
                color: #333333;
                margin: 0 6px;
            }
            .logout {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }
}
::v-deep .el-dropdown-menu__item:not(.is-disabled):focus {
    color: #20B18B;
    background-color: #FFF;
}
</style>