<script setup lang="ts">
import { ref } from "vue"

interface Course {
    courseId: String
    courseName: String
    examDate: String
    examIntroduction: String
    examPlanGuide: String
    scoreRule: String
    userPlanedFlag: Boolean
}

const props = defineProps({
    courseList: Array,
    tabs: String
})

const emits = defineEmits(['setTabs'])

const nowPlan = ref([props.courseList[props.tabs - 1]])
const nowTime = ref<string>(`
    ${nowPlan.value[0].examDate.split('-')[0]}年${nowPlan.value[0].examDate.split('-')[1]}月${nowPlan.value[0].examDate.split('-')[2]}日
`)

const tabsCourse = (tabs: string, have:boolean) => {
    nowPlan.value = [props.courseList[tabs - 1]]
    nowTime.value = `
        ${nowPlan.value[0].examDate.split('-')[0]}年${nowPlan.value[0].examDate.split('-')[1]}月${nowPlan.value[0].examDate.split('-')[2]}日
    `
    emits('setTabs', tabs, have)
}

function getDistanceSpecifiedTime(dateTime:string) {
    // 指定日期和时间
    var EndTime = new Date(dateTime);
    // 当前系统时间
    var NowTime = new Date();
    var t = EndTime.getTime() - NowTime.getTime();
    var d = Math.floor(t / 1000 / 60 / 60 / 24);
    // var h = Math.floor(t / 1000 / 60 / 60 % 24);
    // var m = Math.floor(t / 1000 / 60 % 60);
    // var s = Math.floor(t / 1000 % 60);
    // var html = d + " 天" + h + " 时" + m + " 分" + s + " 秒";
    return d
}

</script>

<template>
    <div class="unplan">
        <div class="fulline">
            <div class="main">
                <div class="subject-info">
                    <div class="subject-tab">
                        <h2>初级会计考试</h2>
                        <div class="tabs">
                            <span
                                v-for="item in courseList"
                                :key="item.courseId"
                                :class="item.courseId == tabs ? 'active': ''"
                                @click="tabsCourse(item.courseId, item.userPlanedFlag)">
                                {{ item.courseName }}
                            </span>
                                
                        </div>
                    </div>
                    <div class="exam-time">
                        <p>考试时间：{{ nowTime }}</p>
                        <span class="line"></span>
                        <p>距离考试<span>{{ getDistanceSpecifiedTime(nowPlan[0].examDate) }}</span>天</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.unplan {
    .fulline {
        padding-bottom: 20px;
        box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.06);
    }
    .subject-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .subject-tab {
            display: flex;
            align-items: center;
            h2 {
                font-size: 20px;
                font-weight: bold;
                color: #222222;
            }
            .tabs {
                width: auto;
                height: 36px;
                background: #F8F8F8;
                border-radius: 34px;
                margin-left: 12px;
                span {
                    display: inline-block;
                    line-height: 36px;
                    border-radius: 34px;
                    font-size: 16px;
                    color: #666666;
                    padding: 0 16px;
                    cursor: pointer;
                }
                .active {
                    font-size: 18px;
                    font-weight: bold;
                    color: #FFF;
                    background-color: #20B18B;
                }
            }
        }
        .exam-time {
            display: flex;
            align-items: center;
            p {
                font-size: 16px;
                color: #333333;
                span {
                    display: inline-block;
                    font-weight: bold;
                    padding: 0 8px;
                    transform: scale(1.4);
                }
            }
            .line {
                display: inline-block;
                width: 1px;
                height: 26px;
                margin: 0 15px;
                background-color: #D8D8D8;
            }
        }
    }
}
</style>