<script setup lang="ts">
import { ref, watch, onMounted, onUnmounted, nextTick } from "vue"

interface Detail {
    chapterId: number
    courseId: number
    knowledgeId: number
    memberId: number
    videoScore: number
    comment: string
}

const props = defineProps({
    contInfo: Object,
    nowLearnId: Object
})

const player = ref() // 视频
const videoShow = ref(false) // 视频显示隐藏
const rateValue = ref()
const switchValue = ref<boolean>(false) // 是否连续播放
const inputValue = ref<string>('') // 提交反馈内容
const buttonColor = ref<string>('#9E9E9E') // 提交反馈按钮
const scroll = ref(null) // 列表初始高度
const height = ref('0px') // 右侧列表高度
const listValue = ref([]) // 列表内容
const scrollbar = ref(null) // 滚动条偏移量
const listHeight = ref(null) // 当前播放的ref
const learnDetail = ref({}) // 知识点详情
const feedInfo = ref({}) // 评价内容
const isPLayEnd = ref(false) // 是否播放完成
const isScore = ref(false) // 是否显示得分信息
const remaining = ref(0) // 剩余时长
const lookTime = ref(0)
const learnId = ref({})

// 右侧列表
Object.keys(props.contInfo.knowledgeList).forEach(item => {
    listValue.value.push({
        name: item,
        list: props.contInfo.knowledgeList[item].filter(list => {
            return list.videoDuration != 0
        })
    })
})

// 统计剩余时长
listValue.value.forEach(item => {
    // videoDuration视频时长, learnedVideoDuration已学视频时长
    item.list.forEach(time => {
        remaining.value = remaining.value + (time.videoDuration - time.learnedVideoDuration)
    })
})

// 正在学的知识点-初始化
console.log(props.nowLearnId)
if (props.nowLearnId != null) {
    learnId.value = {
        knowledgeId: props.nowLearnId.knowledgeId,
        knowledgeName: props.nowLearnId.knowledgeName,
        seqNo: props.nowLearnId.seqNo,
        typeId: props.nowLearnId.typeId
    }
} else {
    learnId.value = {
        knowledgeId: listValue.value[0].list[0].knowledgeId,
        knowledgeName: listValue.value[0].list[0].knowledgeName,
        seqNo: listValue.value[0].list[0].currentSeqNo,
        typeId: listValue.value[0].list[0].typeId
    }
}

// 获取视频反馈详情
const feed = () => {
    http(`/kbdao-course/api/v1/knowledge/video/comment/info/${learnId.value.knowledgeId}`).then(res => {
        feedInfo.value = res.data.value.data
    })
}
feed()

const setScores = (val: number | string) => {
    rateValue.value = val
    console.log(rateValue)
}

const videoSubmit = async () => {
    const data: Detail = {
        chapterId: learnDetail.value.chapterId,
        courseId: learnDetail.value.courseId,
        knowledgeId: learnDetail.value.knowledgeId,
        memberId: useUserInfo().value.id,
        videoScore: rateValue.value,
        comment: inputValue.value
    }
    if (!data.comment) {
        ElMessage.error('评论不能为空')
        return
    }
    if (!data.videoScore) {
        ElMessage.error('给视频评个分吧')
        return
    }
    http(`/kbdao-course/api/v1/knowledge/evaluate/video`, {
        method: 'POST',
        body: data
    }).then(res => {
        if (res.data.value.data) {
            ElMessage.success('提交成功')
            feed()
        }
    })
}

// 切换播放视频
const tabVideos = (list: object) => {
    submitPlay() // 提交视频进度
    learnId.value = {
        knowledgeId: list.knowledgeId,
        knowledgeName: list.knowledgeName,
        seqNo: list.currentSeqNo,
        typeId: list.typeId
    }
    rateValue.value = 0
    videoShow.value = false
    initVideo.value = false
    learnDetail.value = ''
    runtime.value = []
    player.value.remove() // 卸载播放器
    knowledgeDetail(learnId)
    feed()
}

// 重新播放
const resetPLay = () => {
    player.value.play()
    isPLayEnd.value = false
}

// 播放下一节
const nextVideo = () => {
    const id = learnId.value.seqNo + 1
    listValue.value.forEach(item => {
        item.list.forEach(nexts => {
            if (nexts.currentSeqNo == id) {
                submitPlay() // 提交视频进度
                learnId.value = {
                    knowledgeId: nexts.knowledgeId,
                    knowledgeName: nexts.knowledgeName,
                    seqNo: nexts.currentSeqNo,
                    typeId: nexts.typeId
                }
                isPLayEnd.value = false
                videoShow.value = false
                initVideo.value = false
                learnDetail.value = ''
                runtime.value = []
                player.value.remove() // 卸载播放器
                knowledgeDetail(learnId)
                feed()
            }
        })
    })
}

// 获取知识点详情
const times = ref(0) // 比较
const runtime = ref([]) // 初始
const index = ref() // runtime索引
const lens = ref(0) // runtime长度
const initVideo = ref(false) // video是否初始化完成
const speeds = ref(1) // 当前倍速
function knowledgeDetail(learnId: {value: object}) {
    console.log(learnId)
    videoShow.value = true
    // 知识点详情 - 文本
    http(`/kbdao-course/api/v1/knowledge/whyLearn/${learnId.value.knowledgeId}/${learnId.value.seqNo}`)
    // 知识点文本 - 视频
    http(`/kbdao-course/api/v1/knowledge/whatLearn/${learnId.value.knowledgeId}`).then(res => {
        console.log(res.data.value.data)
        learnDetail.value = res.data.value.data
        player.value = new ckplayer({
            container: ".video",
            variable: "player",
            volume: 0.1,
            next: true,
            menu: true,
            title: learnId.value.seqNo + '. ' + res.data.value.data.knowledgeName,
            video: [
                // ['/video/lc.mp4', 'video/mp4', '标清', 0],
                [res.data.value.data.videoUrl, 'video/mp4', '标清', 0],
                [res.data.value.data.highVideoUrl, 'video/mp4', '高清', 0]
            ]
        })
        player.value.play(() => {
            if (learnDetail.value.userPlayVideoPeriod) {
                let period = learnDetail.value.userPlayVideoPeriod.split(',')
                runtime.value[0] = {
                    speed: speeds.value,
                    times: [period[period.length-1].split('-')[0], period[period.length-1].split('-')[1]]
                }
            } else {
                runtime.value[0] = {
                    speed: speeds.value,
                    times: [0, 0]
                }
            }
            index.value = 0
        })
        // 是否上次播放
        if (learnDetail.value.userCurrentPosSeconds) {
            // player.value.bar(false)
            player.value.seek(learnDetail.value.userCurrentPosSeconds)
            player.value.message(`上次播放：${convertSecondsToHMS(learnDetail.value.userCurrentPosSeconds)}`)
            // player.value.pause()
            setTimeout(() => {
                player.value.volume(0.8)
                initVideo.value = true
                // player.value.bar(true)
            }, 1000)
        } else {
            player.value.volume(0.8)
            initVideo.value = true
        }
        // 是否改变了播放速度
        player.value.playbackRate((s: number) => {
            speeds.value = s
        })
        // 视频播放结束ended
        player.value.ended(() => {
            // 检测是否自动连续播放
            const id = learnId.value.seqNo + 1
            if (switchValue.value) {
                listValue.value.forEach(item => {
                    item.list.forEach(nexts => {
                        if (nexts.currentSeqNo == id) {
                            learnId.value = {
                                knowledgeId: nexts.knowledgeId,
                                knowledgeName: nexts.knowledgeName,
                                seqNo: nexts.currentSeqNo,
                                typeId: nexts.typeId
                            }
                            player.value.remove() // 卸载播放器
                            knowledgeDetail(learnId)
                            feed()
                        }
                    })
                })
            } else {
                isPLayEnd.value = true
            }
        })
        player.value.time((t: string) => {
            times.value = parseInt(t)
        })
    })
}


// 结构
// 如果用户切换倍速，新生成一组数据。比如：切换2倍速
// { speed: 2, times: [当前时间点, 当前时间点] }
// let a = [
//     {
//         speed: 2,
//         times: [10, 20] // 2倍速播放10秒-20秒，视频播放了10秒，用户实际观看时间为 10(播放时间) / 2(倍速) = 5(用户有效观看时长)
//     }
// ]
watch([times, speeds], (nv, ov) => {
    console.log(nv, ov)
    if (initVideo.value) {
        if ( nv[0] !== ov[0] ) {
            if ( nv[0] - ov[0] > 1 || nv[0] - ov[0] < 0 ) {
                runtime.value[index.value].times[1] = ov[0]
                runtime.value[index.value+1] = {
                    speed: speeds.value,
                    times: [nv[0], nv[0]]
                }
                index.value ++
            } else {
                if (learnDetail.value.videoFullScore && !learnDetail.value.userVideoScore) {
                    lookTime.value ++
                    // 测试，用户观看1%
                    if (lookTime.value >= (learnDetail.value.videoDuration) * 0.8) {
                        videoScore()
                        console.log('用户已观看80%')
                    }
                }
            }
        }
        if ( nv[1] !== ov[1] ) {
            runtime.value[index.value].times[1] = ov[0]
            runtime.value[index.value+1] = {
                speed: speeds.value,
                times: [nv[0], nv[0]]
            }
            index.value ++
        }
        runtime.value[index.value].times[1] = nv[0]
        console.log(runtime.value)
        console.log(runtime.value.length)
        lens.value = runtime.value.length - 1
    }
})

watch(inputValue, (nv, ov) => {
    if (nv.length > 0) {
        buttonColor.value = '#20B18B'
    } else {
        buttonColor.value = '#9E9E9E'
    }
}, {deep: true})

onMounted(() => {
    height.value = scroll.value.offsetHeight + 'px'
    scrollbar.value.setScrollTop(listHeight.value[0].offsetTop)
    knowledgeDetail(learnId)

    // 关闭提交
    document.addEventListener("visibilitychange", function logData() {
        if (document.visibilityState === "hidden") {
            let data = playData()
            // if (data) {
            //     fetch("http://8.130.120.131:9999/kbdao-course/api/v1/knowledge/video/play", {
            //         method: "POST",
            //         headers: {
            //             "Authorization": 'Bearer ' + useToken().value,
            //             "Content-Type": 'application/json'
            //         },
            //         body: JSON.stringify(data),
            //         keepalive: true,
            //     })
            // }
        }
    })
})

onUnmounted(() => {
    console.log('组件卸载')
    // submitPlay()
})

function videoScore() {
    const data = {
        chapterId: learnDetail.value.chapterId,
        courseId: learnDetail.value.courseId,
        knowledgeId: learnDetail.value.knowledgeId,
        memberId: useUserInfo().value.id,
        openId: useUserInfo().value.openId,
        supplyFlag: 0,
        fullScore: learnDetail.value.videoFullScore
    }
    http(`/kbdao-course/api/v1/knowledge/user/video/score/add`, {
        method: 'POST',
        body: data
    }).then(res => {
        learnDetail.value.userVideoScore = learnDetail.value.videoFullScore
        isScore.value = true
        setTimeout(() => {
            isScore.value = false
        }, 2500)
    })
    
}

// 保存视频进度
const submitPlay = () => {
    let data = playData()
    console.log(data)
    // if (data) {
    //     http('/kbdao-course/api/v1/knowledge/video/play', {
    //         method: 'POST',
    //         body: data
    //     }).then(res => {
    //         console.log(res)
    //     })
    // }
}

// 返回数组
const removeArrs = (arrs: any, i: number) => {
    arrs.splice(i, 1)
    return arrs
}

// 合并时间段
const joinPeriod = (arrs: any, indexes: number): any => {
    let narr = JSON.parse(JSON.stringify(arrs))
    if (arrs.length != 1) {
        let lasts = arrs[indexes]
        let newarr = JSON.parse(JSON.stringify(removeArrs(narr, indexes)))
        let num = 0
        for (let i=0;i<newarr.length;i++) {
            num ++
            if (num == newarr.length) {
                if (lens.value != 0) {
                    lens.value = lens.value - 1
                    return joinPeriod(arrs, lens.value)
                } else {
                    return arrs
                }
            }
            if (lasts[0] >= newarr[i][0] && lasts[0] <= newarr[i][1]) {
                if (newarr[i][1] < lasts[1]) {
                    newarr[i][1] = lasts[1]
                }
                return joinPeriod(newarr, i)
            }
        }
    } else {
        return arrs
    }
}

function convertSecondsToHMS(seconds) {
    var hours = Math.floor(seconds / 3600);
    var minutes = Math.floor((seconds % 3600) / 60);
    var remainingSeconds = seconds % 60;
    
    return (hours<10?'0'+hours:hours) + ":" + (minutes<10?'0'+minutes:minutes) + ":" + (remainingSeconds<10?'0'+remainingSeconds:remainingSeconds);
}

function playData() {
    if (!runtime.value.length) {
        return false
    }
    let a = joinPeriod(runtime.value, lens.value)
    let c = ''
    a.forEach(item => {
        c += `${item[0]}-${item[1]},`
    })
    const data = {
        chapterId: learnDetail.value.chapterId,
        courseId: learnDetail.value.courseId,
        knowledgeId: learnDetail.value.knowledgeId,
        memberId: useUserInfo().value.id,
        userCurrentPosSeconds: parseInt(player.value.time()), // 用户当前位置时长
        userPlayEndFlag: 0, // 是否播放结束
        userPlaySpeed: player.value.playbackRate(), // 视频倍数
        userPlayVideoPeriod: c.slice(0, c.length-1), // 时间段
        userSpendSeconds: parseInt(player.value.time()), // 用户本次有效观看视频时长
        videoDuration: learnDetail.value.videoDuration
    }
    return data
}

function transArr(str: string) {
    let c: any[] = []
    str.split(',').forEach(item => {
        c.push([Number(item.split('-')[0]), Number(item.split('-')[1])])
    })
    return c
}


</script>

<template>
    <div class="v-content main">
        <div class="v-left">
            <div class="v-top">
                <div class="title">
                    <span>2024学习计划</span>
                    <span @click="submitPlay">请在考霸岛APP内添加/调整计划备份</span>
                </div>
                <div class="selected">已选：共{{ contInfo.userPlanedKnowledgeScoreTotal }}分，{{ contInfo.userPlanedKnowledgeTotal }}个考点，剩余视频时长{{ (remaining / (60 * 60)).toFixed(1) }}h</div>
            </div>
            <div class="v-center">
                <div class="video" v-if="videoShow"></div>
                <div class="score" v-if="isScore">
                    <img src="/images/score.png" /><span>视频学习得分<span>+{{ learnDetail.videoFullScore }}</span></span>
                </div>
                <div class="ends" v-if="isPLayEnd">
                    <div class="view" @click="resetPLay">
                        <img src="/images/anew.png" />
                        <p>重新播放</p>
                    </div>
                    <div class="view" @click="nextVideo">
                        <img src="/images/next.png" />
                        <p>播放下一节</p>
                    </div>
                </div>
            </div>
            <div class="v-bottom">
                <div class="rate">
                    <div>
                        <span>课程评价</span>
                        <rate-star v-if="feedInfo" :score="feedInfo.videoChance" :flag="feedInfo.videoScoreEvaluateFlag" @setScores="setScores" />
                        <span v-if="feedInfo.videoScoreEvaluateFlag">{{ feedInfo.videoChance }}分</span>
                        <div class="tips">
                            {{ feedInfo.videoScoreEvaluateFlag ? '已评价' : '给视频评个分吧' }}
                        </div>
                    </div>
                    <div class="switch">
                        <span>自动连续播放</span>
                        <el-switch
                            v-model="switchValue"
                            class="ml-2"
                            style="--el-switch-on-color: #20B18B; --el-switch-off-color: #666666"
                        />
                    </div>
                </div>
                <div class="comment" v-if="!feedInfo.videoScoreEvaluateFlag">
                    <el-input v-model="inputValue" placeholder="你还有什么感想？欢迎评价，我们会认真阅读、及时反馈。" />
                    <el-button class="submit" :dark="true" :color="buttonColor" @click="videoSubmit">提交评价</el-button>
                </div>
            </div>
        </div>
        <div class="v-right" ref="scroll">
            <el-scrollbar :height="height" ref="scrollbar">
                <ul class="list">
                    <li v-for="item in listValue" :key="item.name">
                        <p class="headline">{{ item.name }}</p>
                        <ol>
                            <li
                                :class="list.knowledgeId == learnId.knowledgeId ? 'active' : ''"
                                :ref="list.knowledgeId == learnId.knowledgeId ? 'listHeight' : ''"
                                v-for="list in item.list"
                                :key="list.currentSeqNo"
                                @click="tabVideos(list)">
                                <div class="title">
                                    <div class="icon">
                                        <template v-if="list.knowledgeId == learnId.knowledgeId">
                                            <img src="/images/play.png" />
                                        </template>
                                        <template v-else>
                                            <css-circle
                                                v-if="list.learnedVideoDuration"
                                                color="#20B18B"
                                                width="22"
                                                :pv="10" />
                                        </template>
                                    </div>
                                    <div class="name">{{ list.currentSeqNo }}<span v-if="list.currentSeqNo">.</span> {{ list.knowledgeName }}</div>
                                    <div class="time">
                                        {{ (list.videoDuration / 60).toFixed(2).split('.')[0] }}:{{ (list.videoDuration / 60).toFixed(2).split('.')[1] }}
                                    </div>
                                </div>
                                <div class="tags">
                                    <span v-if="list.tagName">{{ list.tagName }}</span>
                                    <span v-if="list.knowledgeScore">{{ list.knowledgeScore }}分</span>
                                    <span v-if="list.questionCount">考法*{{ list.questionCount }}</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ul>
            </el-scrollbar>
        </div>
    </div>
</template>

<style scoped lang="scss">
.v-content {
    display: flex;
    padding: 20px 0;
    .v-left {
        flex: 0 0 840px;
        width: 840px;
        .v-top {
            .title {
                span:nth-child(1) {
                    font-size: 24px;
                    font-weight: 500;
                    color: #222222;
                    line-height: 1;
                }
                span:nth-child(2) {
                    display: inline-block;
                    padding: 0 10px;
                    font-size: 14px;
                    border-radius: 4px;
                    font-weight: 400;
                    color: #999999;
                    background: #F6F6F6;
                    margin-left: 11px;
                    transform: translateY(-3px);
                }
            }
            .selected {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
                color: #666666;
            }
        }
        .v-center {
            width: 816px;
            height: 459px;
            margin-top: 30px;
            background-color: #222222;
            position: relative;
            .video {
                width: 100%;
                height: 100%;
            }
            .score {
                position: absolute;
                z-index: 1000;
                top: 60px;
                left: 50%;
                transform: translateX(-50%);
                padding: 0 22px;
                height: 36px;
                line-height: 36px;
                background: rgba(255, 252, 249, 0.8);
                border-radius: 18px;
                border: 1px solid #B48400;
                display: flex;
                align-items: center;
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 7px;
                }
                span {
                    font-size: 16px;
                    color: #333333;
                    span {
                        color: #DB593A;
                    }
                }
            }
            .ends {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 10;
                transform: translate(-50%, -50%);
                display: flex;
                .view {
                    margin: 0 60px;
                    cursor: pointer;
                    img {
                        width: 36px;
                        height: 36px;
                        margin: auto;
                        display: block;
                    }
                    p {
                        margin-top: 10px;
                        font-size: 16px;
                        color: #FFFFFF;
                    }
                }
                .view:last-child {
                    p {
                        color: #20B18B;
                    }
                }
            }
        }
        .v-bottom {
            width: 816px;
            margin-top: 20px;
            .rate {
                display: flex;
                align-items: center;
                justify-content: space-between;
                >div {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: #333333;
                        margin-right: 16px;
                    }
                    ::v-deep .el-icon svg {
                        width: 1.2em;
                        height: 1.2em;
                    }
                    div.tips {
                        width: 138px;
                        height: 32px;
                        line-height: 32px;
                        background: #9E9E9E;
                        border-radius: 6px;
                        font-size: 16px;
                        color: #FFFFFF;
                        text-align: center;
                        margin-left: 20px;
                    }
                }
            }
            .comment {
                margin-top: 20px;
                padding-bottom: 30px;
                ::v-deep .el-input__wrapper {
                    width: 100%;
                    height: 42px;
                    background: #F6F6F6;
                    border-radius: 2px;
                }
                ::v-deep .el-input__wrapper.is-focus {
                    box-shadow: none;
                    background: #FFFFFF;
                    border: 1px solid #CCCCCC;
                    color: #333333;
                }
                .submit {
                    margin-top: 20px;
                    color: #FFF;
                }
            }
        }
    }
    .v-right {
        flex: 0 0 360px;
        width: 360px;
        padding: 15px;
        overflow-y: auto;
        background-color: #F8F8F8;
        ::v-deep {
            .el-scrollbar {
                overflow: visible;
            }
            .el-scrollbar__bar.is-vertical {
                right: -10px;
            }
        }
        .list {
            padding: 0;
            li {
                list-style: none;
                font-size: 14px;
                font-weight: 400;
                color: #666666;
                margin-bottom: 25px;
                .headline {
                    font-size: 14px;
                    font-weight: 400;
                    color: #666666;
                }
                ol {
                    padding: 0;
                    li {
                        width: 100%;
                        background: #FFFFFF;
                        border: 1px solid #FFFFFF;
                        border-radius: 6px;
                        padding: 15px 10px;
                        margin-top: 10px;
                        margin-bottom: 0;
                        cursor: pointer;
                        &:hover {
                            border: 1px solid #20B18B;
                            background: #F9FFFD;
                        }
                        .title {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .icon {
                                width: 22px;
                                height: 22px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .name {
                                flex: 1;
                                font-size: 16px;
                                font-weight: bold;
                                color: #222222;
                                margin-left: 10px;
                            }
                            .time {
                                font-size: 16px;
                                font-weight: 400;
                                color: #999999;
                            }
                        }
                        .tags {
                            margin: 10px 0 0 32px;
                            span {
                                padding: 6px;
                                font-size: 14px;
                                font-weight: 400;
                                color: #666666;
                                background: #F6F6F6;
                                border-radius: 4px;
                                margin-right: 10px;
                            }
                        }
                    }
                    li.active {
                        border: 1px solid #20B18B;
                        background: #F9FFFD;
                        .title {
                            .name {
                                color: #20B18B;
                            }
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
</style>