<script setup lang="ts">
import { ref, onMounted, watch, nextTick } from "vue"

const props = defineProps({
    score: String,
    flag: Boolean
})

const emits = defineEmits(['setScores'])

const stars = ref([false, false, false, false, false])
const scores = ref(0)
const scoresArr = ref([])

const selects = (index: number) => {
    stars.value = [false, false, false, false, false]
    for (let i=0;i<index;i++) {
        stars.value[i] = true
    }
}

const resets = () => {
    stars.value = [false, false, false, false, false]
    for (let i=0;i<scores.value;i++) {
        stars.value[i] = true
    }
}

const confirms = (score: number) => {
    scores.value = score
    stars.value = [false, false, false, false, false]
    for (let i=0;i<scores.value;i++) {
        stars.value[i] = true
    }
    emits('setScores', score)
}

watch(() => props.score, () => {
    scoresArr.value = []
    if (props.flag) {
        initScore()
    }
})

function initScore() {
    let s = props.score * 2
    for (let i=0;i<5;i++) {
        if (s - 2 > 0) {
            s -= 2
            scoresArr.value.push(20 * 5)
        } else {
            if (s > 0) {
                scoresArr.value.push(s.toFixed(1) * 10 * 5);
    			s -= s;
            } else {
                scoresArr.value.push(0)
            }
        }
    }
}

</script>

<template>
    <div class="star">
        <div v-if="!flag" @mouseleave="resets">
            <p v-for="(item, index) in stars" :key="index" @click="confirms(index+1)" @mouseenter="selects(index+1)">
                <img v-if="!item" src="/images/star2.png" />
                <img v-else src="/images/star1.png" />
            </p>
        </div>
        <div v-else>
            <p v-for="(item, index) in scoresArr" :key="index">
                <!-- <img v-if="!item" src="/images/star2.png" />
                <img v-else src="/images/star1.png" /> -->
                <p :style="{width: item+'%'}">
                    <img src="/images/star1.png" />
                </p>
                <img class="star2" src="/images/star2.png" />
            </p>
        </div>
    </div>
</template>

<style scoped lang="scss">
.star {
    >div {
        display: flex;
        align-items: center;
    }
    p {
        width: 24px;
        height: 24px;
        margin-right: 6px;
        cursor: pointer;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        .star2 {
            position: absolute;
            top: 0;
            left: 0;
        }
        p {
            overflow: hidden;
            img {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
            }
        }
    }
}
</style>