<script setup lang="ts">
import { ref } from "vue"

const commonInfo = useCommonInfo()

</script>

<template>
    <div class="unplan">
        <div class="plan-info main">
            <div class="title">2024学习计划</div>
            <div class="cont">
                <p>暂无添加学习计划</p>
                <p>请在前往「考霸岛APP」内添加/调整计划已经添加完成，<a href="/">刷新一下吧</a></p>
            </div>
        </div>
        <div class="download main">
            <div class="title">考霸岛APP下载方式</div>
            <div class="cont">
                <div class="plat">
                    <div class="platname">安卓系统下载</div>
                    <div class="qrcode">
                        <div class="code"><img :src="commonInfo.androidCode" /></div>
                        <div class="text">
                            <p>方式一：微信扫码下载「考霸岛APP」</p>
                            <p>方式二：在应用商城搜索「考霸岛」</p>
                        </div>
                    </div>
                </div>
                <div class="plat">
                    <div class="platname">iOS系统下载</div>
                    <div class="qrcode">
                        <div class="code"><img src="/images/iOScode.png" /></div>
                        <div class="text">
                            <p>方式一：微信扫码左侧二维码下载「考霸岛APP」</p>
                            <p>方式二：应用市场搜索「考霸岛初级会计」</p>
                            <p>
                                <a href="https://apps.apple.com/cn/app/%E8%80%83%E9%9C%B8%E5%B2%9B%E5%88%9D%E7%BA%A7%E4%BC%9A%E8%AE%A1/id6475376182" target="_blank"><img src="/images/ios.png" />App Store下载</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.unplan {
    .fulline {
        padding-bottom: 20px;
        box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.06);
    }
    .subject-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .subject-tab {
            display: flex;
            align-items: center;
            h2 {
                font-size: 20px;
                font-weight: bold;
                color: #222222;
            }
            .tabs {
                width: auto;
                height: 36px;
                background: #F8F8F8;
                border-radius: 34px;
                margin-left: 12px;
                span {
                    display: inline-block;
                    line-height: 36px;
                    border-radius: 34px;
                    font-size: 16px;
                    color: #666666;
                    padding: 0 16px;
                    cursor: pointer;
                }
                .active {
                    font-size: 18px;
                    font-weight: bold;
                    color: #FFF;
                    background-color: #20B18B;
                }
            }
        }
        .exam-time {
            display: flex;
            align-items: center;
            p {
                font-size: 16px;
                color: #333333;
                span {
                    display: inline-block;
                    font-weight: bold;
                    padding: 0 8px;
                    transform: scale(1.4);
                }
            }
            .line {
                display: inline-block;
                width: 1px;
                height: 26px;
                margin: 0 15px;
                background-color: #D8D8D8;
            }
        }
    }
    .plan-info {
        margin-top: 20px;
        .title {
            font-size: 24px;
            font-weight: 500;
            color: #333333;
        }
        .cont {
            width: 100%;
            height: 117px;
            margin-top: 10px;
            background: #F8F8F8;
            border-radius: 10px;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            p:nth-child(1) {
                margin-bottom: 12px;
                font-size: 18px;
                font-weight: 500;
                color: #333333;
            }
            p:nth-child(2) {
                font-size: 16px;
                color: #666666;
                a {
                    text-decoration: none;
                    color: #20B18B;
                }
            }
        }
    }
    .download {
        margin-top: 20px;
        .title {
            font-size: 24px;
            font-weight: 500;
            color: #333333;
        }
        .cont {
            width: 100%;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .plat {
                width: 594px;
                height: 226px;
                padding: 20px;
                background: #F8F8F8;
                border-radius: 10px;
                .platname {
                    font-size: 18px;
                    font-weight: 500;
                    color: #333333;
                }
                .qrcode {
                    margin-top: 15px;
                    display: flex;
                    .code {
                        width: 138px;
                        height: 138px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .text {
                        margin-left: 13px;
                        margin-top: -10px;
                        p {
                            margin-top: 12px;
                            font-size: 16px;
                            color: #666666;
                        }
                        p:nth-child(3) {
                            width: 190px;
                            height: 50px;
                            background: #FFFFFF;
                            border-radius: 6px;
                            border: 1px solid #333333;
                            line-height: 50px;
                            // text-align: center;
                            a {
                                width: 100%;
                                display: inline-block;
                                font-size: 16px;
                                color: #333333;
                                text-decoration: none;
                                img {
                                    width: 22px;
                                    margin-left: 23px;
                                    margin-right: 10px;
                                    margin-top: -7px;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 950px) {
    .unplan {
        .download {
            .cont {
                display: block;
                .plat {
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
    }
}
</style>