<script setup lang="ts">
import { ref, onMounted } from "vue"

const content = ref('')
content.value = useCommonInfo().value.agreementList[0]

useHead({
    title: content.value.title
})

</script>

<template>
    <div class="kbd-yhxy-content">
        <div v-html="content.detail"></div>
    </div>
</template>

<style lang="scss">
.kbd-yhxy-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-size: 16px;
    color: #333;
    >div {
        p {
            margin-top: 20px;
        }
    }
}
</style>
