<script setup lang="ts">
import { ref, onMounted } from "vue"

const content = ref('')
content.value = useCommonInfo().value.agreementList[3]

useHead({
    title: content.value.title
})

</script>

<template>
    <div class="kbd-yszc-content">
        <div v-html="content.detail"></div>
    </div>
</template>

<style scoped lang="scss">
.kbd-yszc-content {
    max-width: 1200px;
    margin: auto;
    font-size: 16px;
    color: #333;
    >div {
        table {
            width: 100%;
        }
    }
}
</style>
